/vendor
/console
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
/web/core
/web/profiles
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/.editorconfig
/web/modules/contrib
/web/themes/contrib
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/default/files
/web/sites/default/private
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/settings.local.php
